

body {
    color: rgb(100,100,100);
    font-size: 21px;
    max-width: 700px;
    margin: 0 auto;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
}


a.textcolorlink { color: rgb(0,0,0); }


.footer {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 44px;
    max-width: 500px;
    margin: 0 auto;
}

.footer, .lighttext { color: #777; }
.footer a { color: #aaa; text-decoration: underline; }

.centertext { text-align: center; }

h2 { 
    margin-top: 1.5em;
margin-bottom: 0;
    text-align: left;
    font-size: 1.75em;
    }

.content { padding: 0 1em 1em 1em;}

img.logo { 
    max-width: 70%;
    text-align:center;
    margin: auto;
    display: block;
    }

h1 { 
    margin: -12px auto;
    font-size: 2em;
    }

.padding {padding-top: 2em;}